.header__search {
    margin-top: 45px;
  }
  
  .search-form {
    display: flex;
    width: 344px;
    padding: 8px 8px 8px 20px;
    justify-content: space-between;
    align-items: center;

    border-radius: 42px;
    background-color: rgb(255, 255, 255, 0.15);
    border: 0.862px solid rgba(255, 255, 255, 0.6);
  }
  .search-form__input {
  }
  .search-form__btn {
  }
  